@model AsapFocus.Models.HS_CostOfFuture
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <partial name="_ExpensePartial"/>

</div>
<div class="">

    <form  method="post">

        <div class="pt-4">
            <label for="exampleInputEmail1">Gider Tipi</label>
            @Html.DropDownListFor(x => x.ExpenseType, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
            <span>@ViewBag.v2</span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">İsim</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Soyisim</label>
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
            <span asp-validation-for="Surname" class="text-danger"></span>


        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Poliçe/Sözleşme No</label>
            @Html.TextBoxFor(x => x.PolcyNum, new { @class = "form-control" })
            <span asp-validation-for="PolcyNum" class="text-danger"></span>


        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Başlangıç Tarihi</label>
            @Html.TextBoxFor(x => x.BegDate, new { @class = "form-control" })
            <span asp-validation-for="BegDate" class="text-danger"></span>


        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Bitiş Tarihi</label>
            @Html.TextBoxFor(x => x.EndTime, new { @class = "form-control" })
            <span asp-validation-for="EndTime" class="text-danger"></span>


        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Poliçe Tutarı</label>
            @Html.TextBoxFor(x => x.PolcyAmount, new { @class = "form-control" })
            <span asp-validation-for="PolcyAmount" class="text-danger"></span>


        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Taksit Sayısı</label>
            @Html.TextBoxFor(x => x.InstallmentNo, new { @class = "form-control" })
            <span asp-validation-for="InstallmentNo" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Açıklama</label>
            @Html.TextAreaFor(x => x.Comments, new { @class = "form-control" })
            <span asp-validation-for="Comments" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary" asp-controller="Policy" asp-action="Index">Hesapla</button>
    </form>


</div>